@import "foundation/all";

.dse-select {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;

    &__label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include padding("xs");
        border: 1px solid $white-dark;
        background-color: $white;
        font-family: $body-font-family;
        font-size: $fs-lg;
        cursor: pointer;
    }

    &__overlay {
        @include padding("none");
        @include margin("none");
        z-index: 99;
        position: absolute;
        width: 100%;
        border: 1px solid $white-dark;
    }

    &__list-item {
        @include padding("xs");
        border-radius: 1px;
        cursor: pointer;
        background-color: $white;
        font-family: $body-font-family;
        font-size: $fs-lg;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list-item:hover {
        background-color: $white-dark;
    }

    &__list-item--selected {
        @include padding("xs");
        border-radius: 1px;
        cursor: pointer;
        background-color: $white;
        font-family: $body-font-family;
        font-size: $fs-lg;
        list-style-type: none;
        background-color: $green;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $white;
    }
}