.otp-wrapper input {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 24px;
    text-align: center;
}

.otp-wrapper {
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}