.dropzone {
    width : 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lavender;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.dragEnter {
        background-color: lightgreen;
        border-color: darkgreen;
}

.toys {
    position: relative;

    .smiley {
        position: absolute;
        bottom: 200px;
        right: 200px;
        font-size: 50px;
    }
}