img.lazy {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwr7hezbSLIzt0x_LcGYkOF0z4UKsj6QTEZA&s");
    background-repeat: no-repeat;
    display: block;
    min-height: 200px;
    margin-bottom: 20px;;
}