<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css" />
</head>

<body>
    <div id="content">
        <button id="switch__mode">Switch Dark/Light mode</button>
        <h1>Lorem ipsum basics</h1>
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quae suscipit quas. Corporis molestiae rem, pariatur dolore distinctio eos illo iure incidunt autem, perspiciatis harum repellat aliquid sequi a architecto.
            Placeat, repellendus ipsa sit numquam non ex tenetur in hic commodi eos dolore maxime. Ea odit officia, facere iste, itaque in eos rem id ut optio dolore magni quidem fuga!
            Assumenda hic tenetur impedit, cum ipsa quos quaerat rerum at ex autem facere, modi dolor reiciendis debitis qui suscipit, rem iste cupiditate adipisci culpa ut laborum sit. Voluptatem, quasi ad.
            Nobis qui iste officia modi molestias, voluptates blanditiis illum illo rerum necessitatibus neque deleniti dicta debitis quis. Modi optio architecto et, earum adipisci minus libero officia sapiente officiis reiciendis alias?
            Cum consectetur doloribus autem laboriosam natus rerum facilis est fuga voluptate. Molestias neque nam, esse, illum modi ex aut quaerat quasi dolorum accusantium repudiandae quo expedita beatae ducimus adipisci voluptates.
            Similique quidem labore in, adipisci facere quod quia enim voluptate nostrum animi libero nemo aperiam ex a obcaecati atque numquam consequuntur impedit itaque veritatis dolores sint. Voluptatibus perspiciatis aliquid itaque.
            Corporis laborum, sapiente illum praesentium sequi iusto, ex quod libero est voluptates rem vel, repellat quibusdam illo architecto ut. Dolore beatae alias quis iusto sequi veniam similique nam cumque voluptatum!
            Quam, voluptate ratione adipisci voluptas doloribus itaque! Ipsa nam aut tenetur ut quam repellendus, natus consectetur repudiandae dolore, quae, in magnam hic ducimus id maxime quasi voluptatum. Atque, consequatur deserunt.
            Esse, alias corrupti? Optio, fugit ipsam. Veniam quae accusantium modi laborum nemo mollitia sunt voluptates, praesentium sed repudiandae iusto ducimus ex ea nesciunt deleniti repellat similique. Consectetur corporis eveniet illum.
            Provident repudiandae corporis, dignissimos doloremque quaerat dolores quas quae aliquid neque amet enim dolor pariatur doloribus iure voluptas! Iste sunt dignissimos sint aut fuga quia harum dolorem! Quibusdam, enim corrupti.
            Libero animi mollitia praesentium necessitatibus rem? Veritatis maxime minus praesentium repellendus, beatae veniam asperiores libero eos iusto suscipit est, dolor explicabo, illo numquam aspernatur quod. Quod placeat eveniet eligendi rem.
            Ad doloremque, vitae cum labore dolorem tempora animi voluptas doloribus vel nihil non ut amet rerum recusandae aspernatur ratione asperiores expedita tempore cupiditate voluptatem eos laborum maiores! Similique, sunt saepe?
            Dignissimos unde tenetur distinctio animi molestias ratione rem maxime officia tempore cupiditate excepturi corporis tempora aut at illo optio in nulla, fugiat nihil magnam sint praesentium? Velit suscipit eaque inventore.
            Inventore fugiat ad assumenda quae incidunt accusamus sequi consequatur ea rem, excepturi dolore voluptatem cum iure omnis libero impedit distinctio, odio obcaecati? Esse iusto laboriosam facere et placeat accusantium ab!
            Ea facere veniam nostrum laudantium iusto magni accusantium quidem saepe ad et fugit iste beatae blanditiis quia dolores sed quod, ipsum architecto ab nulla tempore autem! Assumenda et eveniet numquam.
            Ex maxime cum illo praesentium animi quia, ad perspiciatis in quo hic adipisci voluptates nemo dolorum mollitia cupiditate! Iusto sequi officia id enim assumenda asperiores voluptate necessitatibus eaque. Laudantium, quisquam?
            Explicabo minus assumenda quam perferendis voluptatem blanditiis excepturi veniam consectetur molestias eum voluptatibus sint possimus, ipsam voluptate. Ratione, nobis maxime molestiae ut omnis dicta amet, aut aperiam itaque nemo iusto!
            Sunt delectus id eius animi explicabo voluptas repellendus voluptatem, harum qui praesentium perspiciatis, nam sed ad, inventore vitae dignissimos quae exercitationem optio. Aliquam eligendi labore provident libero nostrum asperiores dolore.
            Consequatur est, aspernatur fugit maiores deleniti harum quidem, dignissimos, aliquid eligendi delectus numquam repellat nam dolore labore. Earum, voluptatibus reprehenderit est facere fugiat recusandae quas rem! Neque similique dolores eveniet.
            Nesciunt, delectus dignissimos dolor laboriosam nostrum quis voluptatem quia voluptates, dolores error minus! Magni enim recusandae cumque natus dolorum nobis, obcaecati porro dolorem animi ratione? Quas aut odit enim quidem.
        </div>
    </div>
    <script src="./index.js"></script>
</body>

</html>