<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css" />
</head>

<body>
    <form action="" id="checkoutForm">
        <input type="text" name="firstName" id="firstName" placeholder="First name"/>
        <input type="text" name="lastName" id="lastName" placeholder="Last name"/>
        <input type="number" name="age" id="age" placeholder="Age"/>
    </form>
    <script src="./index.js"></script>
</body>

</html>