html {
    height: 100%;
}

body{
    height: 100%;
    background-color: grey;
}

#startStreamButton {
    width: 30%;
    margin: auto;
    margin-top: 2%;
}

.container {
    width: 50%;
    height: 60%;
    position: relative;
    top: 25%;
    background-color: white;
    border: 1px solid black;
    position: relative;
    margin: auto auto;
    display: flex;
    flex-direction: column;
}